.notes {
  list-style: none;
}
.note {
  padding: 10px;
  background-color: rgba(46, 130, 248, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  height: 22px;
  width: 22px;
}
.checkbox-label {
  position: relative;
  display: inline-block;
  text-indent: 40px;
  overflow-wrap: break-word;
  text-align: justify;
  margin-right: 20px;
}
.hint {
  top: -15px;
  left: -60px;
  position: absolute;
  background-color: #d7e2ff;
  padding: 5px;
  border-radius: 3px;
  color: rgb(20, 22, 24);
  font-size: 0.6rem;
  text-indent: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.active-hint {
  opacity: 1;
}
.checkbox-label::before {
  content: "!";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  cursor: pointer;
  text-indent: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  font-weight: 700;
  color: white;
  background-color: #303543;
}

.important::before {
  color: rgb(46, 130, 248);
  background-color: white;
}
.times-sign {
  justify-self: flex-end;
  cursor: pointer;
}
