.input-block {
  margin: 0 auto;
}
#input {
  display: block;
  width: inherit;
  border: none;
  padding: 15px 10px;
  margin-top: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
