.icons-set {
  display: flex;
}
.icons-set div div {
  height: 25px;
  width: 25px;
  padding: 3px;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s;
}
.icons-set div {
  position: relative;
}
.icons-set div div:hover {
  transform: scale(1.1);
}
.icons-set #education-icon {
  background-color: #2071a7;
}
.icons-set #sport-icon {
  background-color: #19b849;
}
.icons-set #art-icon {
  background-color: #ee9919;
}
.icons-set .hint {
  z-index: 2;
  left: -40px;
  top: -30px;
  overflow-wrap: normal;
}
